.logo {
  width: 200px;
  height: auto;
  margin-left: 10px;
}
.my-header {
  display: flex;
  align-items: center;
  --background: antiquewhite;
}

.my-toolbar {
  --background: #1a73e8; 
  color: white;
  display: flex !important;  
  align-items: center !important;      
}

.content-center > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.input-container {
  margin-top: 20px;
  width: 30%;
  max-width: 300px;
  display: flex;
  flex-direction: column;   
  align-items: center;
  gap: 15px;                
}

.button-insert {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: #1a73e8;
}